<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Setup</title>
</head>
<body>
<p>Hi, </p>
<p>Please click the link below to set up your account password. </p>
<p>
    <a href="<%= url %>"><%= url %></a>
</p>
</body>
</html>